
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 50%), url('<%= image_path("cocktails_banner.jpg") %>')">
  <div class="banner-content">
    <h1>COCKTAIL SPREE</h1>
    <p>Go mad about cocktail</p>
  </div>
</div>

<div class="wrapper">

  <div class="container">

    <div class="row">

    <h3 class="title-white">Best cocktails</h3>

      <% @cocktails.each do |cocktail| %>

        <div class="col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category"><%= cocktail.name %></div>
          <!--   <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
            <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



